# Combines the data sources into one data frame

IMPORTANT: hofstede, terrorism, innovation data are manually copied from books and websites #####

In [35]:
# initialise

import pandas as pd
import os

# set working directory
os.chdir("/Users/james_k_he/Desktop/national_courage/")

# Read the data
national_courage = pd.read_csv("data/courage_data/national_courage.csv")
main_controls = pd.read_csv("data/third_party_data/main_controls_extract.csv")
ipums_controls = pd.read_csv("data/third_party_data/ipums_data/ipums_controls_extract.csv")
ipums_idv = pd.read_csv("data/third_party_data/ipums_data/ipums_idv_extract.csv")
wvs_idv = pd.read_csv("data/third_party_data/wvs_data/wvs_idv_extract.csv")
manual_data = pd.read_csv("data/third_party_data/manual_data.csv")

# get country names and code from main controls
country_names = main_controls[
    ["Country Name", "Country Code"]
].drop_duplicates()

In [36]:
# standadise national courange country names and code
national_courage = national_courage.merge(
    country_names, left_on="Country", right_on="Country Name", how="left"
)
national_courage.loc[
    national_courage["Country"] == "Egypt", "Country Code"
] = "EGY"
national_courage.loc[
    national_courage["Country"] == "Hong Kong", "Country Code"
] = "HKG"
national_courage.loc[
    national_courage["Country"] == "Iran", "Country Code"
] = "IRN"
national_courage.loc[
    national_courage["Country"] == "South Korea", "Country Code"
] = "KOR"
national_courage.loc[
    national_courage["Country"] == "Taiwan", "Country Code"
] = "TWN"
national_courage.loc[
    national_courage["Country"] == "Russia", "Country Code"
] = "RUS"
national_courage.loc[
    national_courage["Country"] == "Slovakia", "Country Code"
] = "SVK"
national_courage.loc[
    national_courage["Country"] == "Turkey", "Country Code"
] = "TUR"
national_courage.loc[
    national_courage["Country"] == "Venezuela", "Country Code"
] = "VEN"

national_courage = national_courage.drop("Country Name", axis=1)
national_courage = national_courage.rename(columns={"Country": "Country Name"})
national_courage = national_courage.set_index(["Country Name", "Country Code"])
national_courage.columns = ["national_courage", "national_courage_unweighted"]

national_courage.head()

                           national_courage  national_courage_unweighted
Country Name Country Code
Argentina    ARG                   0.633444                     0.636171
Australia    AUS                   0.676227                     0.650468
Austria      AUT                   0.663809                     0.627158
Bangladesh   BGD                   0.669685                     0.702857
Belarus      BLR                   0.574793                     0.613028

In [37]:
# standardise ipums controls with country names and code
ipums_controls = ipums_controls.merge(
    country_names, left_on="Country", right_on="Country Name", how="left"
)
ipums_controls.loc[
    ipums_controls["Country"] == "Egypt", "Country Code"
] = "EGY"
ipums_controls.loc[ipums_controls["Country"] == "Iran", "Country Code"] = "IRN"
ipums_controls.loc[
    ipums_controls["Country"] == "Russia", "Country Code"
] = "RUS"
ipums_controls.loc[
    ipums_controls["Country"] == "Turkey", "Country Code"
] = "TUR"
ipums_controls.loc[
    ipums_controls["Country"] == "Venezuela", "Country Code"
] = "VEN"

ipums_controls = ipums_controls.drop("Country Name", axis=1)
ipums_controls = ipums_controls.rename(columns={"Country": "Country Name"})
ipums_controls = ipums_controls.set_index(["Country Name", "Country Code"])
ipums_controls.columns = [
    "index",
    "ipums_edu_tertiary_attain",
    "ipums_edu_adult_literacy",
    "ipums_urbanisation",
]
ipums_controls = ipums_controls.drop("index", axis=1)

ipums_controls.head()

,,ipums_edu_tertiary_attain,ipums_edu_adult_literacy,ipums_urbanisation
Country Name,Country Code,,,
Argentina,ARG,0.035904,0.883610,1.000000
Austria,AUT,0.125145,1.000000,1.000000
Bangladesh,BGD,0.023329,0.436892,0.235147
Belarus,BLR,0.159837,1.000000,0.744220
Brazil,BRA,0.056038,0.807472,0.764648

In [38]:
# standardise ipums idv with country names and code in ipums_controls
ipums_idv = ipums_idv.merge(
    ipums_controls.index.to_frame().reset_index(drop=True),
    left_on="Country",
    right_on="Country Name",
    how="left",
)
ipums_idv.loc[ipums_idv["Country"] == "Slovakia", "Country Code"] = "SVK"
ipums_idv.loc[ipums_idv["Country"] == "Slovenia", "Country Code"] = "SVN"

ipums_idv = ipums_idv.drop("Country Name", axis=1)
ipums_idv = ipums_idv.rename(columns={"Country": "Country Name"})
ipums_idv = ipums_idv.set_index(["Country Name", "Country Code"])
ipums_idv.columns = ["index", "ipums_idv"]
ipums_idv = ipums_idv.drop("index", axis=1)

ipums_idv.head()

                              ipums_idv
Country Name Country Code
Argentina    ARG           1.509506e-01
Austria      AUT           1.690393e-15
Bangladesh   BGD          -1.232503e+00
Brazil       BRA           5.959729e-02
Belarus      BLR           1.182280e+00

In [39]:
# standardise wvs idv with country names and code
wvs_idv = wvs_idv.merge(
    country_names, left_on="Country", right_on="Country Code", how="left"
)
wvs_idv.loc[wvs_idv["Country"] == "TWN", "Country Name"] = "Taiwan"
wvs_idv.loc[wvs_idv["Country"] == "NIR", "Country Name"] = "Northern Ireland"
wvs_idv = wvs_idv.drop("Country Code", axis=1)
wvs_idv = wvs_idv.rename(columns={"Country": "Country Code"})
wvs_idv = wvs_idv.set_index(["Country Name", "Country Code"])
wvs_idv.columns = ["index", "wvs_idv"]
wvs_idv = wvs_idv.drop("index", axis=1)

wvs_idv.head()

                            wvs_idv
Country Name Country Code
Andorra      AND           0.305595
Argentina    ARG          -0.213734
Australia    AUS           0.623019
Bangladesh   BGD           0.602329
Armenia      ARM          -0.490067

In [40]:
# set the index of national courage as the standard country name
country_names = national_courage.index.to_frame().reset_index(drop=True)

# set country code as the index of all data frames
main_controls = main_controls.reset_index().set_index("Country Code")
ipums_controls = ipums_controls.reset_index().set_index("Country Code")
ipums_idv = ipums_idv.reset_index().set_index("Country Code")
wvs_idv = wvs_idv.reset_index().set_index("Country Code")
national_courage = national_courage.reset_index().set_index("Country Code")

# drop all country names
main_controls = main_controls.drop("Country Name", axis=1)
ipums_controls = ipums_controls.drop("Country Name", axis=1)
ipums_idv = ipums_idv.drop("Country Name", axis=1)
wvs_idv = wvs_idv.drop("Country Name", axis=1)
national_courage = national_courage.drop("Country Name", axis=1)


# merge all data frames
all_national_data = pd.concat(
    [national_courage, main_controls, ipums_controls, ipums_idv, wvs_idv],
    axis=1,
)
all_national_data = all_national_data.merge(
    country_names, left_index=True, right_on="Country Code", how="left"
)
all_national_data = all_national_data.drop("index", axis=1)
all_national_data = all_national_data[
    all_national_data["Country Code"].isin(
        national_courage.index.get_level_values(0)
    )
]

# set country name and country code as index
all_national_data = all_national_data.merge(
    manual_data, on=["Country Name", "Country Code"], how="left"
)
all_national_data = all_national_data.set_index(
    ["Country Name", "Country Code"]
)

all_national_data.head()

,,national_courage,national_courage_unweighted,oecd_edu_population_to_primary,oecd_edu_population_to_tertiary,oecd_edu_population_to_secondary,oecd_gdp,oecd_gdp_per_cap,un_edu_primary_complete,un_edu_primary_enroll,un_edu_secondary_enroll,...,global_terrorism_index,hofstede_idv,hofstede_mas,global_innovation_index,hofstede_pwd,hofstede_una,hofstede_lto,hofstede_idg,uz_tightloose,eriksson_tightloose
Country Name,Country Code,,,,,,,,,,,,,,,,,,,,,
Argentina,ARG,0.633444,0.636171,33.458462,24.765341,41.776196,1092845.898,23856.680324,94.56793,99.02244,128.42300,...,1.024,46.0,56.0,28.33,49.0,86.0,20.0,62.0,75.0,1.56
Australia,AUS,0.676227,0.650468,15.468880,49.767868,34.763252,1595112.956,61974.774982,NaN,97.35563,114.85434,...,2.148,90.0,61.0,48.35,38.0,51.0,21.0,71.0,NaN,1.90
Austria,AUT,0.663809,0.627158,14.060361,34.604504,51.335136,622665.496,68774.881689,99.49617,94.45453,99.47815,...,1.016,55.0,79.0,50.13,11.0,70.0,60.0,63.0,75.8,2.10
Bangladesh,BGD,0.669685,0.702857,NaN,NaN,NaN,NaN,NaN,66.20096,89.96452,76.12434,...,4.909,20.0,55.0,20.39,80.0,60.0,47.0,20.0,6.6,NaN
Belarus,BLR,0.574793,0.613028,NaN,NaN,NaN,NaN,NaN,98.32384,93.74106,104.49307,...,0.000,25.0,20.0,31.27,95.0,95.0,81.0,15.0,60.5,NaN

In [41]:
# additional data
allik_big_five = pd.read_csv("data/third_party_data/allik_big_five.csv")
global_giving_index = pd.read_csv("data/third_party_data/global_giving_index.csv")
globe_measures_clean = pd.read_csv("data/third_party_data/globe_measures_clean.csv")
self_esteem = pd.read_csv("data/third_party_data/self_esteem.csv")
globe_practices = pd.read_csv("data/third_party_data/GLOBE_practices.csv")

In [42]:
# clean additional data


allik_big_five["CODE"] = allik_big_five["CODE"].str.split("(", expand=True)[0]
allik_big_five = allik_big_five.groupby("CODE").mean()
allik_big_five = allik_big_five[["O", "C", "E", "A", "N"]]
allik_big_five.columns = [
    "allik_big_five_openness",
    "allik_big_five_conscientiousness",
    "allik_big_five_extraversion",
    "allik_big_five_agreeableness",
    "allik_big_five_neuroticism",
]
allik_big_five = allik_big_five.merge(
    country_names, left_index=True, right_on="Country Code", how="right"
).set_index(["Country Name", "Country Code"])


global_giving_index = (
    global_giving_index.merge(
        country_names, left_on="COUNTRY", right_on="Country Name", how="right"
    )
    .set_index(["Country Name", "Country Code"])[["Rank"]]
    .rename(columns={"Rank": "global_giving_index_rank"})
)


globe_measures_clean = globe_measures_clean.merge(
    country_names, left_on="Country Name", right_on="Country Name", how="right"
).set_index(["Country Name", "Country Code"])
globe_measures_clean.columns = [
    "GLOBE_" + "_".join(str(col).lower().split(" "))
    for col in globe_measures_clean.columns
]


self_esteem = self_esteem.merge(
    country_names, left_on="Country", right_on="Country Name", how="right"
).set_index(["Country Name", "Country Code"])[["Rosenberg Self-Esteem"]]
self_esteem.columns = ["rosenberg_self_esteem"]


globe_practices = globe_practices.groupby("Country Name").mean().merge(
    country_names, left_on="Country Name", right_on="Country Name", how="right"
).set_index(["Country Name", "Country Code"])

globe_practices.columns = [
    "GLOBE_" + "_".join(str(col).lower().replace("-", "").replace("societal practices", "").strip().split(" "))
    for col in globe_practices.columns
]

In [43]:
# merge in additional data
all_national_data = pd.concat(
    [
        all_national_data,
        allik_big_five,
        global_giving_index,
        globe_measures_clean,
        self_esteem,
        globe_practices,
    ],
    axis=1,
)
all_national_data.to_csv("data/all_national_data.csv")

In [44]:
all_national_data.head()

,,national_courage,national_courage_unweighted,oecd_edu_population_to_primary,oecd_edu_population_to_tertiary,oecd_edu_population_to_secondary,oecd_gdp,oecd_gdp_per_cap,un_edu_primary_complete,un_edu_primary_enroll,un_edu_secondary_enroll,...,rosenberg_self_esteem,GLOBE_uncertainty_avoidance,GLOBE_future_orientation,GLOBE_power_distance,GLOBE_institutional_collectivism,GLOBE_humane_orientation,GLOBE_performance_orientation,GLOBE_ingroup_collectivism,GLOBE_gender_egalitarianism,GLOBE_assertiveness
Country Name,Country Code,,,,,,,,,,,,,,,,,,,,,
Argentina,ARG,0.633444,0.636171,33.458462,24.765341,41.776196,1092845.898,23856.680324,94.56793,99.02244,128.42300,...,31.24,3.65,3.08,5.64,3.66,3.99,3.65,5.51,3.49,4.22
Australia,AUS,0.676227,0.650468,15.468880,49.767868,34.763252,1595112.956,61974.774982,NaN,97.35563,114.85434,...,31.07,4.39,4.09,4.74,4.29,4.28,4.36,4.17,3.40,4.28
Austria,AUT,0.663809,0.627158,14.060361,34.604504,51.335136,622665.496,68774.881689,99.49617,94.45453,99.47815,...,31.78,5.16,4.46,4.95,4.30,3.72,4.44,4.85,3.09,4.62
Bangladesh,BGD,0.669685,0.702857,NaN,NaN,NaN,NaN,NaN,66.20096,89.96452,76.12434,...,27.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belarus,BLR,0.574793,0.613028,NaN,NaN,NaN,NaN,NaN,98.32384,93.74106,104.49307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
all_national_data.count().sort_values(ascending=False)[:50]

national_courage                                    80
national_courage_unweighted                         80
wb_urban_population_ratio                           79
wb_urban_density                                    79
hofstede_una                                        78
hofstede_pwd                                        78
hofstede_mas                                        78
hofstede_idv                                        78
wb_gdp                                              78
wb_gdp_per_cap                                      78
global_innovation_index                             76
wb_edu_tertiary_enroll                              75
global_terrorism_index                              75
wb_urban_largest_city_ratio                         74
hofstede_lto                                        72
wb_gdp_ppp                                          71
wb_gdp_per_cap_ppp                                  71
hofstede_idg                                        70
wb_edu_secondary_enroll                             69
un_gdp_per_cap                                      69
wb_edu_primary_enroll                               68
global_giving_index_rank                            67
un_edu_tertiary_enroll                              67
un_edu_secondary_enroll                             67
un_edu_primary_enroll                               67
wb_edu_primary_complete                             66
wb_urban_big_city_ratio                             65
un_edu_primary_complete                             63
uz_tightloose                                       56
wb_edu_literacy_youth                               55
wb_edu_literacy_adult                               55
ipums_idv                                           50
GLOBE_assertiveness                                 49
GLOBE_institutional_collectivism                    49
GLOBE_performance_orientation_societal_practices    49
GLOBE_humane_orientation_societal_values            49
GLOBE_humane_orientation_societal_practices         49
GLOBE_future_orientation_societal_values            49
GLOBE_future_orientation_societal_practices         49
GLOBE_uncertainty_avoidance                         49
GLOBE_future_orientation                            49
GLOBE_power_distance                                49
GLOBE_humane_orientation                            49
GLOBE_performance_orientation                       49
GLOBE_ingroup_collectivism                          49
GLOBE_gender_egalitarianism                         49
GLOBE_performance_orientation_societal_values       49
eriksson_tightloose                                 48
ipums_edu_tertiary_attain                           48
ipums_edu_adult_literacy                            48
dtype: int64